/* Asegúrate de que el contenedor principal tenga el estilo adecuado */
.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Para centrar verticalmente */
  flex-direction: column;
}

form {
  margin-bottom: 20px; /* Separar el formulario de la lista de usuarios */
}

input {
  margin: 10px; /* Añadir espacio alrededor de los inputs */
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #61dafb;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #21a1f1;
}

ul {
  list-style: none; /* Quitar los puntos de la lista */
  padding: 0;
}

li {
  margin: 10px 0; /* Añadir espacio entre los elementos de la lista */
}

